input {
  border: 1px solid black;
  padding: 5px;
  background: none;
}

.invalid {
  border: 1px solid red;
}

ul {
  padding-left: 0;

  li {
    width: 100%;
    list-style-type: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .remove-button {
      height: 20px;
      line-height: 8px;
    }  
  }
}

.save-button {
  display: flex;
  justify-content: center;
  padding: 30px;
}