<ng-container *ngIf="!person">
  <p>
    Please select a person to view and edit!
  </p>
</ng-container>

<ng-container *ngIf="person">
  <h1>
    <ng-container *ngIf="person.personId">{{ person.firstName }} {{ person.lastName }}</ng-container>
    <ng-container *ngIf="!person.personId">[ New User ]</ng-container>  
  </h1>

  <form *ngIf="form" [formGroup]="form">
    
    <h2>Personal data</h2>

    <div [formGroup]="form.get('personForm')">
      <input
        formControlName="firstName"
        [ngClass]="{ 'invalid': !form.get('personForm').get('firstName').valid }"
        placeholder="First name">
      <input
        formControlName="lastName"
        [ngClass]="{ 'invalid': !form.get('personForm').get('lastName').valid }"
        placeholder="Last name">
    </div>

    <h2>Email addresses</h2>

    <ul>
      <li formArrayName="emailsForms"
        *ngFor="let email of form.get('emailsForms').controls; let i = index;">
        <div [formGroupName]="i">
          <input
            formControlName="emailAddress"
            [ngClass]="{ 'invalid': !form.get('emailsForms').at(i).valid }"
            placeholder="Email address">
        </div>
        <input type="button" value="-" class="remove-button" (click)="onEmailDeleted(i)">
      </li>
    </ul>

    <input type="button" value="Add new email" (click)="onAddEmail()">

    <h2>Addresses</h2>

    <ul>
      <li formArrayName="addressesForms"
        *ngFor="let address of form.get('addressesForms').controls; let i = index;">
        <div [formGroupName]="i">
          <input formControlName="country" placeholder="Country"><br>
          <input formControlName="city" placeholder="City"><br>
          <input formControlName="region" placeholder="Region"><br>
          <input formControlName="zipCode" placeholder="Zipcode"><br>
          <input formControlName="street" placeholder="Street"><br>
          <input formControlName="houseNumber" placeholder="House number">
        </div>
        <input type="button" value="-" class="remove-button" (click)="onAddressDeleted(i)">
      </li>
    </ul>

    <input type="button" value="Add new address" (click)="onAddAddress()">

    <h2>Phone numbers</h2>

    <ul>
      <li formArrayName="phoneNumbersForms"
        *ngFor="let phoneNumber of form.get('phoneNumbersForms').controls; let i = index;">
        <div [formGroupName]="i">
          <input formControlName="phoneNumber" placeholder="Phone number">
        </div>
        <input type="button" value="-" class="remove-button" (click)="onPhoneNumberDeleted(i)">
      </li>
    </ul>

    <input type="button" value="Add new phone number" (click)="onAddPhoneNumber()">

    <div class="save-button">
      <input type="button" [disabled]="!form.valid || form.pristine" value="Save" (click)="onSave()">
    </div>
  </form>
</ng-container>