input {
  border: 1px solid black;
  background: none;
}

.phonebook {
  display: flex;

  .phonebook-list {
    margin: 10px;
    width: 50%;

    .phonebook-header {
      display: flex;
      justify-content: space-between;

      h1 {
        justify-self: start;
      }

      span {
        line-height: 86px;
      }
    }

    .add-person {
      display: flex;
      justify-content: center;
      padding: 30px;

      input {
        padding: 5px;
      }
    }

    ul {
      padding-left: 0;

      li {
        list-style-type: none;
        display: flex;
        justify-content: space-between;

        a {
          width: 100%;
          color: black;
          text-decoration: none;

          &:visited,
          &:active {
            color: black;
          }

          &:hover {
            background-color: lightgray;
          }
        }
      }
    }
  }

  .phonebook-show {
    margin: 10px;
    width: 50%;
  }
}