<div class="phonebook">
  <div class="phonebook-list">
    <div class="phonebook-header">
      <h1>
        Phonebook ({{ people.length }})
      </h1>
    </div>

    <ul>
      <li *ngFor="let person of people">
        <a href="#" (click)="setSelectedPerson($event, person)">
          {{ person.firstName }} {{ person.lastName }}
        </a>
        <input type="button" value="-" (click)="onPersonDeleteClicked(person)">
      </li>
    </ul>

    <div class="add-person">
      <input type="button" value="Add user" (click)="onPersonAddClicked()">
    </div>
  </div>

  <div class="phonebook-show">
    <app-person [person]="selectedPerson"></app-person>
  </div>
</div>
